body{
    background-color: #950101;
    color: white;
}
.conteiner{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    text-align: center;
}
figcaption{
    text-align: left;
}
img{
    width: 100%
}
section{
    width: 60%;
}
p{
    font-size: 20px;
}
